<div class="hero-unit">
	<h1>Hello, world!</h1>
	<p>This is a demo application built with Symfony and chaplin.js</p>
	<p><a class="btn btn-primary btn-large" href='{{url "books_list"}}'>View the books!</a></p>
</div>